# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
rag/


# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python history
.python_history

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# VS Code settings
.vscode/

# Streamlit cache and artifacts
.streamlit/
.stcache/
.stfolder/

# Chroma DB storage
chroma_db/

# Model and embedding downloads
*.bin
*.h5
*.ckpt

# User data folders
data/
uploads/
